<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Input Form</title>
</head>
<body>
    <h1>Enter URL Details</h1>

    <form >
        
        <label>username and password</label><br>
        <a href="/assignment1/createuser">create user</a><br><br>

        <label>shop</label><br>
        <a href="/assignment1/shop">create user</a><br><br>


        <label >product category</label><br>
        <a href="/assignment1/productcategory">productcategory</a><br><br>

        <label >productname</label><br>
        <a href="/assignment1/product">product</a><br><br>

        <label>product colour</label><br>
        <a href="/assignment1/productcolour">productcolour</a><br><br>

        <label>order</label><br>
        <a href="/assignment1/order">productcolour</a><br><br>


        <label>cart</label><br>
        <a href="/assignment1/cart">productcolour</a><br><br>

        


        
        


        <!-- <label for="url4_head">order</label><br>
        <a href="/assignment1/order">order</a><br><br> -->

        
        <!-- <label for="url6_head">'cart</label><br>
        <a href="/assignment1/cart">your cart</a><br><br> -->



        <h1>All User List</h1>
        <a href = "/assignment1/users">here</a>
    </form>

</body>
</html>
