<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create or Update Shop</title>
</head>
<body>
  <h1>Create </h1>
  <form id="shopForm">
    <label for="name">Shop Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="owner">Owner ID:</label>
    <input type="text" id="owner" name="owner"><br><br>
    <button type="submit">Submit</button>
  </form>

  <script>
    document.getElementById('shopForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const name = document.getElementById('name').value;
      const owner = document.getElementById('owner').value;

      fetch('/assignment1/shop/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ name, owner })
      })
      .then(response => response.json())
      .then(data => {
        console.log('Shop data submitted:', data);
        
      })
      .catch(error => {
        console.error('Error:', error);
        
      });
    });
  </script>

  <h1>Update Shop</h1>
  <form id="updateShopForm">
    <label for="shopId">Shop ID:</label>
    <input type="text" id="shopId" name="shopId" required><br><br>
    <label for="name">New Shop Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="owner">New Owner ID:</label>
    <input type="text" id="owner" name="owner" required><br><br>
    <button type="submit">Update</button>
  </form>

  <script>
    document.getElementById('updateShopForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const shopId = document.getElementById('shopId').value;
      const name = document.getElementById('name').value;
      const owner = document.getElementById('owner').value;

      fetch(`http://127.0.0.1:8000/assignment1/update/${shopId}/`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ name, owner })
      })
      .then(response => response.json())
      .then(data => {
        console.log('Shop updated:', data);
      })
      .catch(error => {
        console.error('Error:', error);
        
      });
    });
  </script>
</body>
</html>
